.header-brand-logo {
    max-width: 50px;
}

.index-img {
    width: 100%;
    height: 100%;
    padding: 5px;
}

.cv-img {
    width: 100%;
    height: 90%;
    padding: 5px;
}

.portfolioImg {
    width: 100%;
    height: 60%;
}

.portfolio-button {
    position: relative;
    bottom: 30px;
}

.filter {
    margin-right: 16px !important;
}

.filterButton {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    color: #fff !important;
    background-color: #000 !important;
}

div button:hover {
    background-color: #3a41e4;
}

.title {
    color: grey;
}

.sub-title {
    color: darkgrey;
}

.link-decoration {
    color: darkgrey;
    text-decoration: none
}

.progress {
    text-align: center;
    height: 15px;
    background-color: #777;
    position: relative;
    width: 80%;
    color: black;
    margin-bottom: 10px;
}

    .progress .progress-bar-80 {
        width: 80%;
        position: absolute;
        height: 100%;
        background-color: #add555;
    }

    .progress .progress-bar-70 {
        width: 70%;
        position: absolute;
        height: 100%;
        background-color: #add555;
    }

    .progress .progress-bar-40 {
        width: 40%;
        position: absolute;
        height: 100%;
        background-color: #FFFF00;
    }

    .progress .progress-bar-25 {
        width: 25%;
        position: absolute;
        height: 100%;
        background-color: #DF0101;
    }


.button {
    display: inline-block;
    vertical-align: top;
    padding: 10px 25px;
    transition: all .1s;
    font-family: inherit;
    cursor: pointer;
    font-size: 15px;
    color: #111;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 2px rgba(255, 255, 255, 1);
    background-color: #ccc;
    background-clip: padding-box;
    border: 1px solid;
    border-color: #202020 #1a1a1a #111;
    border-radius: 2px;
    background-image: -webkit-linear-gradient(top, #efefef, #777);
    background-image: -moz-linear-gradient(top, #efefef, #777);
    background-image: -o-linear-gradient(top, #efefef, #777);
    background-image: linear-gradient(to bottom, #efefef, #777);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.09), 0 1px 1px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.09), 0px 1px 1px rgba(0, 0, 0, 0.2);
}
.lightGrey {
    color: #bbb;
    text-shadow: 0 0 2px rgba(0, 0, 0, .7);
    background-color: #303030;
    border-color: #1c1c1c #202020 #222;
    background-image: -webkit-linear-gradient(top, #8e8e8e, #434343);
    background-image: -moz-linear-gradient(top, #8e8e8e, #434343);
    background-image: -o-linear-gradient(top, #8e8e8e, #434343);
    background-image: linear-gradient(to bottom, #8e8e8e, #434343);
}


.footer-dark {
    padding: 50px 0;
    color: #f0f9ff;
    background-color: #212529;
}

.footer-div-icon {
    text-align: center;
}

.footer-icon {
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    background-color: #495057;
    color: #fff;
    border-radius: 100%;
    font-size: 1.5rem;
    margin-right: 0.1rem;
}

.copyright {
    text-align: center;
    padding-top: 24px;
    opacity: 0.3;
    font-size: 13px;
    margin-bottom: 0;
}


.contactFormDiv {
    width: 100%;
    margin-bottom: 10px;
}

.contactImput {
    width: 100%;
}
